[Unit]
Description=Timer diário para hasetup.sh — 22:03
Requires=hasetup.service

[Timer]
OnCalendar=*-*-* 22:03:00
AccuracySec=1s
Persistent=true

[Install]
WantedBy=timers.target